<mat-toolbar id="App-MainToolbar" class="app-toolbar">
    <span class="app-toolbar-spacer"></span>

    <button mat-icon-button (click)="showSearchBar=!showSearchBar">
        <mat-icon>search</mat-icon>
    </button>
    
</mat-toolbar>
<mat-toolbar class="app-toolbar" *ngIf="showSearchBar" color="primary">
    <button mat-icon-button (click)="search()">
        <mat-icon>search</mat-icon>
    </button> 
    <div class="app-search-container">
        <mat-form-field class="app-search-field" appearance="fill">
            <input #SearchBox matInput id="App-SearchInput" type="search" />
        </mat-form-field>
    </div> 
    <button id="App-CloseSearch" mat-icon-button (click)="toggleSearch()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<button mat-fab class="post-button" (click)="createPost()"><mat-icon>add_post</mat-icon></button>
<div class="app-container">
    <mat-spinner class="feed-spinner" *ngIf="isPostsWaiting"></mat-spinner>
    <app-character-entry mat-list-item *ngFor="let post of posts" [postData]="post"></app-character-entry>
</div>

