<mat-card class="post-card">
    <mat-card-content>
        <mat-card-title><a href="javascript:void(0);" (click)="goToProfile()">{{ name }}</a></mat-card-title>
        <p>{{ description }}</p>
        <button mat-icon-button (click)="delete()">
            <mat-icon>close</mat-icon>
        </button> 
    </mat-card-content>
</mat-card>
