<mat-toolbar id="App-MainToolbar" class="app-toolbar">
    <button mat-icon-button (click)="goBack()">
        <mat-icon>close</mat-icon>
    </button> 
</mat-toolbar>

<mat-card class="centered-card-host">
    <mat-card-content>
        <form>
            <mat-form-field class="stretched-form-entry">
                <mat-label>Name</mat-label>
                <input matInput #NameInput type="text"/>
            </mat-form-field>
            <mat-form-field class="stretched-form-entry">
                <mat-label>Description</mat-label>
                <input matInput #DescriptionInput type="text"/>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="createAccount()">ADD...</button>
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar *ngIf="isWorking" class="cardLoadingBar" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
